.rodape {
    background: linear-gradient(130deg, #000000, #252525);
}

.redes-sociais {
    font-size: 50px;
}

.redes-sociais:hover {
    color: #D80204;
    cursor: pointer;
}

.contato {
    font-size: 25px;
    margin-right: 15px;
}

.identificacao {
    font-weight: bold;
}

.copyright {
    background-color: black;
}

.copyright {
    background-color: black;
    font-size: 1.1em;
    letter-spacing: 1.5px;
}

.copyright a {
    color: white;
}

.copyright a span:hover {
    color: #D80204;
}

.copyright span {
    font-weight: 600;
}