<footer class="rodape container-fluid">
    <div class="redes-sociais d-flex justify-content-center align-items-center py-3">
        <a href="https://www.linkedin.com/in/leandro-gon%C3%A7alves-cris%C3%B3stomo-9936422b0/" target="_blank"><i class="fa-brands fa-linkedin me-5"></i></a>
        <a href="https://github.com/lleandrogon" target="_blank"><i class="fa-brands fa-github mx-5"></i></a>
        <a href="https://wa.me/5582988094715" target="_blank"><i class="fa-brands fa-whatsapp ms-5"></i></a>
    </div>
    <div class="contatos d-flex justify-content-center align-items-center">

    </div>
    <div class="copyright text-center py-2">
        &copy; {{currentYear}} Portfolio-Leandro. Todos os direitos reservados. Desenvolvido por <a [href]="github" target="_blank" class="text-decoration-none"><span>Leandro Gonçalves Crisóstomo</span></a>.
    </div>
</footer>
