<footer class="rodape container-fluid">
    <div class="redes-sociais d-flex justify-content-center align-items-center pt-3">
        @for (item of globalService.redesSociais; track item.nome) {
            <a [href]="item.link" target="_blank"><i class="{{item.icon}} redes-sociais mx-5"></i></a>
        }
    </div>
    <div class="contatos row d-flex justify-content-center align-items-center py-4">
        @for (item of contatos; track item.nome) {
            <div class="col-12 col-md-4 text-center">
                <p class="identificacao my-md-0 my-3"><i class="{{item.icon}} contato d-none d-lg-inline-block"></i>{{item.identificacao}}</p>
            </div>
        }
    </div>
</footer>
<div class="copyright container-fluid text-center py-2">
    &copy; {{currentYear}} Portfolio-Leandro. Todos os direitos reservados. Desenvolvido por <a [href]="github" target="_blank" class="text-decoration-none"><span>Leandro Gonçalves Crisóstomo</span></a>.
</div>
