<main class="sobre-mim container-fluid text-center py-5">
    <h4 class="titulo mb-4">Sobre Mim</h4>
    <div class="apresentacao text-center mx-auto">
        <p class="texto-apresentacao">
            Olá, me chamo <span class="nome">Leandro Gonçalves</span>, sou desenvolvedor de software full-stack com ênfase no front-end. Minha paixão é criar interfaces intuitivas e responsivas que proporcionem a melhor experiência ao usuário. Trabalho com tecnologias modernas como Angular, sempre buscando unir design e funcionalidade.
        </p>
        <button class="botao-vermelho btn px-5 py-2 mx-2">Baixar CV</button>
    </div>
</main>