<main class="sobre-mim container-fluid text-center py-5">
    <h3 class="titulo mb-4">Sobre Mim</h3>
    <div class="apresentacao text-center mx-auto">
        <p class="texto-apresentacao">
            Olá, me chamo <span class="nome">Leandro Gonçalves</span>, desenvolvedor de software front-end. Minha paixão é criar interfaces intuitivas e responsivas, enquanto estruturo sistemas eficientes. Especializado em tecnologias modernas como Angular, busco unir design, funcionalidade e desempenho para entregar soluções completas e impactantes.
        </p>
        <a href="/Currículo-Leandro-TI.pdf" download="Curriculo-Leandro-TI.pdf" class="botao-vermelho btn px-5 py-2 mx-2">Baixar CV</a>
    </div>
</main>