<div class="aviso">
    <div class="aviso-content">
        <h2>Parece que você acessou um projeto back-end!</h2>
        <p>Projetos que envolvem back-end e banco de dados não podem ser visualizados diretamente aqui, pois não estão hospedados em um servidor ativo. Para ver o funcionamento completo, rode o projeto diretamente na sua máquina, se quiser entre em contato para mais detalhes!</p>
        <a [routerLink]="['/']" class="botao-vermelho btn py-2 px-3">Voltar ao Portfólio</a>
    </div>
</div>
