<div class="navegacao container-fluid px-md-5 pt-3">

    <header class="row">
        <div class="texto-inicial col-6">
            <a class="meu-nome animate__animated animate__flash animate__delay-1s link-underline link-underline-opacity-0" href="https://github.com/lleandrogon"
                target="_blank"><span class="letra-dev">D</span>ev <span class="letra-leandro">L</span>eandro</a>
        </div>

        <div class="col-6 d-flex justify-content-end align-items-center d-md-none">
            <i (click)="verMenu()" class="fa-solid fa-bars"></i>
        </div>

        <div *ngIf="visivel" class="links text-center d-md-none mt-4">
            <ul>
                <li class="sem-marcadores py-3"><a href="#sobre-mim" class="links">Sobre Mim</a></li>
                <li class="sem-marcadores py-3"><a href="#skills" class="links">Skills</a></li>
                <li class="sem-marcadores py-3"><a href="#projetos" class="links">Projetos</a></li>
                <li class="sem-marcadores py-3"><a href="#contatos" class="links">Contatos</a></li>
            </ul>
        </div>

        <div class="links col-md-6 d-none d-md-flex justify-content-end mt-1">
            <li class="sem-marcadores px-3"><a href="#sobre-mim" class="links">Sobre Mim</a></li>
            <li class="sem-marcadores px-3"><a href="#skills" class="links">Skills</a></li>
            <li class="sem-marcadores px-3"><a href="#projetos" class="links">Projetos</a></li>
            <li class="sem-marcadores px-3"><a href="#contatos" class="links">Contatos</a></li>
        </div>

    </header>

    <div class="titulos ms-1">
        <h1 class="animate__animated animate__fadeInLeft ms-0">Leandro Gonçalves</h1>
        <h2 class="animate__animated animate__fadeInLeft animate__delay-1s">Desenvolvedor de Software</h2>
        <div class="redes-sociais animate__animated animate__fadeInLeft animate__delay-1s pt-2">
            @for (item of globalService.redesSociais; track item.nome) {
              <a [href]=item.link target="_blank"><i class="{{item.icon}}"></i></a>
            }
        </div>
    </div>

    <div class="d-flex mt-4 animate__animated animate__fadeInLeft animate__delay-2s">
        <a href="https://wa.me/5582988094715?text=Olá%20gostaria%20de%20mais%20informações!" target="_blank"
            class="botao-vermelho btn px-3 py-2 me-1">
            Fale Comigo!
        </a>
        <a href="/Currículo-Leandro-TI.pdf" download="Curriculo-Leandro-TI.pdf" class="botao-vermelho btn px-3 py-2 mx-3">Baixar CV</a>
    </div>

</div>

