<div class="navegacao container-fluid px-5">
    <header class="row py-2">
        <div class="texto-inicial col-6">
            <a class="link-underline link-underline-opacity-0" href=""><span class="letra-dev">D</span>ev <span
                    class="letra-leandro">L</span>eandro</a>
        </div>
        <div class="links col-6 d-flex justify-content-end mt-1">
            <a class="link-underline link-underline-opacity-0 mx-3" href="">Sobre Mim</a>
            <a class="link-underline link-underline-opacity-0 mx-3" href="">Skills</a>
            <a class="link-underline link-underline-opacity-0 mx-3" href="">Projetos</a>
            <a class="link-underline link-underline-opacity-0 mx-3" href="">Contato</a>
        </div>
    </header>
    <div class="titulos">
        <h1>Leandro Gonçalves</h1>
        <h2>Desenvolvedor de Software</h2>
        <div class="redes-sociais pt-2">
            <i class="fab fa-linkedin pe-2"></i>
            <i class="fab fa-github px-2"></i>
            <i class="fab fa-whatsapp ps-2"></i>
        </div>
    </div>
</div>