.skills {
    background: url('https://wallpapercrafter.com/desktop1/542471-line-dark-white-light-obliquely-abstract-backgrounds.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px;
}

.skills-title {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 3px solid #D2000D;
    display: inline-block;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.for-container {
    width: 200px;
}

.icon-container {
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.icon-container:hover {
    transform: translateY(-5px) scale(1.1);;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

i {
    font-size: 1.1em;
}

.cor-nome {
    color: #ff0000;
    font-weight: 600;
}