/* You can add global styles to this file, and also import other style files */

* {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.sem-marcadores {
    list-style-type: none;
}

/* https://i.pinimg.com/originals/07/0c/37/070c371143831dc8a1e881fe3958633a.jpg */